body {
	margin: 0;
	padding: 0;
	height: auto;
	position: relative;
	font-family: Open Sans, Arial, sans-serif;
}

* {
	box-sizing: border-box;
}

.nav-bar {
	position: fixed;
	width: 100%;
	height: 70px;
	top: 0;
	z-index: 1;
	background-color: #008531;
}

.logo {
	position: absolute;
	top: 0;
	left: 50px;
}

.nav-bar__group {
	position: absolute;
	display: block;
	top: 45px;
	width: 60%;
	margin: 0 20%;
	text-align: center;
}

.group__text {
	margin: 0 15px;
	position: relative;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
}

.group__text:after {
	content: '';
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	visibility: hidden;
}

.group__text:hover {
	border-bottom: 5px solid #00ff00;
	padding-bottom: 3px;
}	

.group__text.active {
	border-bottom: 5px solid #00ff00;
	padding-bottom: 3px;	
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
	vertical-align: middle;
}

.contact--border {
	border-left: 2px solid #cbcbcb;
	padding-left: 10px;
}

span {
	display: inline-block;
	vertical-align: middle;
}

.footer {
	position: relative;
	bottom: 0;
	max-width: 1000px;
	margin: 0 auto;
	font-size: 12px;
	background: #fff;
}


.footer__left {
	float: left;
	display: block;
	margin: 10px 0;
	width: 30%;
}

.footer__contact {
	display: inline-block;
	vertical-align: middle;
	border-left: 2px solid #cbcbcb;
	padding: 10px;
	margin: 10px 0;
}

.icon {
	width: auto;
	height: 30px;
	margin: 0 5px;
}

.icon-contact {
	height: 50px;
}

.footer__right {
	float: right;
	width: 70%;
	margin: 10px 0;
}

.icon__nestle {
	height: 50px;
	float: right;
	padding-right: 20px;
}

.right__links {
	float: left;
	width: 80%;
	margin: 10px 0;
	text-align: right;
}

.links--green {
	color: #00a225;
}

.contact--black {
	color: black;
	padding: 5px;
	padding-left: 10px;
}

input {
	padding-left: 20px;
}

select {
	padding-left: 20px;
	-webkit-appearance: none;
	background: url('images/arrow.png') no-repeat;
	background-position: 90% center;
}

main {
	margin-top: 100px;
}

.main__headline {
	position: relative;
	width: 50%;
	margin: 50px 25%;
}

.headline-title {
	width: 100%;
	text-transform: uppercase;
	background: url('images/headline.png') no-repeat center;
	text-align: center;
	color: #fff;
	font-size: 32px;
	display: block;
	padding: 30px 0;
}

.headline__bottle {
	position: absolute;
	top: -20px;
	right: 50px;
}

.main__notify {
	text-align: center;
	font-size: 14px;
}

.main__form {
	max-width: 350px;
	margin: 50px auto;
}

.form__input {
	width: 100%;
	margin-bottom: 10px;
	height: 45px;
	box-sizing: border-box;
}

.form__fill {
	position: relative;
}

.form__fill label {
	position: absolute;
	font-size: 14px;
	margin-top: -42px;
	margin-left: 20px;
}

.form__fill input:focus + label {
	margin-top: -50px;
}

.form__fill input:focus {
	padding-top: 15px;
}

.drop-down {
	width: 100%;
	height: 45px;
	color: #434343;
}

.form__line {
	height: 1px;
	width: 100%;
	background-color: black;
	margin: 20px 0;
}

.row {
	margin: 0 -5px;
}

.clearfix:after {
	content: '';
	visibility: hidden;
	display: block;
	clear: both;
}

.column--6 {
	width: 50%;
	float: left;
	padding: 0 5px;
}

.column--4 {
	width: 33.33%;
	float: left;
	padding: 5px;
}

.column--3 {
	width: 25%;
	float: left;
}

.form__check-box {
	margin-top: 20px;
	position: relative;
}

.check-box__wrapper {
	margin-bottom: 10px;
}

.check-box__wrapper input[type=checkbox] {
	display: none;
}

.check-box__wrapper label {
	position: relative;
	cursor: pointer;
	margin-bottom: 10px;
    display: block;
    margin-left: 30px;
    font-size: 14px;
    padding-top: 5px;
}

.check-box__wrapper label:before {
	width: 30px;
	height: 30px;
	background: url('images/untick.png');
	position: absolute;
	top: 0;
	left: -30px;
	content: '';
}

.column--12 {
	padding: 0 5px;
}

.check-box__wrapper input:checked + label:before {
	width: 30px;
	height: 30px;
	background: url('images/tick.png');
	position: absolute;
	top: 0;
	left: -30px;
	content: '';
}

label a {
	color: inherit;
	text-decoration: underline;
}

.submit__wrapper {
	position: relative;
	text-align: center;
	max-width: 200px;
	height: 40px;
	margin: 50px auto;
}

.submit__wrapper input {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	border: none;
	outline: none;
	background: transparent;
	position: relative;
	z-index: 2;
	top: 10px;
	cursor: pointer;
}

.submit__wrapper:before {
	content: '';
	width: 100%;
	height: 100%;
	background: linear-gradient(-90deg, #0fb837, #00ad54);
	display: block;
	position: absolute;
	top: 0;
	left: 5px;
	z-index: 1;
	cursor: pointer;
}

.submit__wrapper:after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: #f4ca0e;
	display: block;
	position: absolute;
	top: 5px;
	left: 0;
	box-shadow: -5px 5px 10px #0eb73a;
	cursor: pointer;
}

.form__birthday .row {
	margin-top: 10px;
}

.image__strawberry {
	position: absolute;
	top: -20px;
	right: 250px;
	width: 90px;
	height: 90px;
}

.image__oreo {
	position: absolute;
	width: 91px;
	height: 102px;
	left: 100px;
	bottom: 450px;
}

.image__avocado {
	position: absolute;
	width: 147px;
	height: 143px;
	right: 200px;
	bottom: 0px;
	z-index: -1;
	display: block;
}